.header {
    background: #FFFFFF;
    width: 1512px;
    height: 100px;
    margin: 0 auto;
    padding: 20px 300px;
    border-bottom: solid 1px #E0DFDE;
}

.header__inner {
    display: grid;
    place-items: center;
}

.header__logo {
    color: #8B7969;
    text-decoration: none;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

/* .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
} */